#navbarstyle {
  height: 80px;
  background: #FFFFFF;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
  color: #FFFFFF; }

#navbar-judul {
  font-family: Calibri;
  color: #45BF7C;
  margin-left: 93px;
  font-size: 30px;
  font-weight: bold; }

.explore {
  font-size: 16px;
  font-family: Open Sans Semibold;
  color: #72777E;
  letter-spacing: 0;
  position: absolute;
  top: 30px;
  left: 600px; }

.news {
  font-size: 16px;
  font-family: Open Sans Semibold;
  color: #72777E;
  .
	letter-spacing: 0;
  position: absolute;
  top: 30px;
  left: 760px; }

.bantuan {
  font-size: 16px;
  font-family: Open Sans Semibold;
  color: #72777E;
  letter-spacing: 0;
  position: absolute;
  top: 30px;
  left: 910px;
  border: none; }

#search {
  position: absolute;
  top: 30px;
  left: 285px;
  opacity: 0.5; }

#search2 {
  position: absolute;
  top: 24px;
  left: 320px;
  opacity: 0.5;
  font-size: 16px;
  letter-spacing: 0;
  border-style: none;
  font-family: Open Sans;
  color: #3C3C3C; }

#profile {
  position: absolute;
  top: 20px;
  left: 1040px; }

.login {
  font-size: 13px;
  font-family: Open Sans Semibold;
  color: #72777E;
  letter-spacing: 0;
  position: absolute;
  top: 32px;
  left: 1080px; }

.daftar {
  position: absolute;
  left: 1148px;
  top: 23px;
  background: #F9A21A;
  border-radius: 6px;
  width: 101px;
  height: 40px;
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 0; }

#beranda {
  font-size: 16px;
  color: #5CB85C;
  letter-spacing: 0;
  position: absolute;
  left: 123px;
  top: 107px;
  border-style: 1px solid; }

#kategoriproyek {
  font-size: 16px;
  color: #5CB85C;
  letter-spacing: 0;
  position: absolute;
  left: 210px;
  top: 107px; }

#proyekexplore {
  font-size: 16px;
  color: #5CB85C;
  letter-spacing: 0;
  position: absolute;
  left: 367px;
  top: 107px; }

#panah1 {
  position: absolute;
  left: 182px;
  top: 107px; }

#panah2 {
  position: absolute;
  left: 335px;
  top: 107px; }

#imagebody {
  margin-top: 5px;
  margin-left: 5px;
  height: 422px;
  width: 681px; }

#judulp {
  font-family: Helvetica;
  font-size: 27px;
  color: #555555;
  line-height: 40px; }

#category {
  font-family: Open Sans;
  font-size: 14px;
  color: #72777E;
  line-height: 50px;
  float: left; }

#zakat {
  font-family: Open Sans Semibold;
  font-size: 14px;
  color: #F9A21A;
  line-height: 50px;
  margin-left: 15px; }

#palestine {
  font-size: 14px;
  color: #555555;
  line-height: 50px;
  margin-left: 27px; }

#majelis {
  font-size: 14px;
  color: #555555;
  line-height: 50px;
  float: right; }

.garis {
  border: 1px solid #C5C5C5; }

.fa-user {
  opacity: 0.2; }

.kumpul {
  font-family: Open Sans;
  font-size: 14px;
  color: #72777E;
  line-height: 18px; }

.dana {
  font-family: Helvetica;
  font-size: 14px;
  color: #72777E;
  line-height: 18px;
  margin-right: 130px; }

.rp {
  font-family: Helvetica;
  font-size: 24px;
  color: #45BF7C;
  line-height: 25px; }

.butuh {
  font-family: Open Sans Semibold;
  font-size: 18px;
  color: #72777E;
  text-align: right;
  line-height: 25px; }

.goal {
  font-family: Open Sans;
  font-size: 14px;
  color: #72777E;
  line-height: 18px; }

.hari {
  font-family: Open Sans;
  font-size: 14px;
  color: #72777E;
  line-height: 18px;
  margin-left: 250px; }

.garis2 {
  background: #E7E7E7;
  border-radius: 4px;
  width: 100%;
  height: 8px;
  float: left; }

.detail {
  font-family: Open Sans Semibold;
  font-size: 18px;
  color: #555555;
  letter-spacing: 0;
  text-align: center; }

.update {
  opacity: 0.5;
  font-family: Open Sans;
  font-size: 18px;
  color: #3C3C3C;
  letter-spacing: 0; }

.note {
  opacity: 0.1;
  background: #ABC7AB;
  border-radius: 4px; }

#lapor {
  font-family: Open Sans Semibold;
  font-size: 16px;
  color: #45BF7C;
  line-height: 24px; }

.pelanggan {
  font-family: Open Sans Semibold;
  font-size: 16px;
  color: #555555;
  line-height: 24px; }

.cardyuk {
  background: #F9F9F9;
  box-shadow: 0 2px 10px 0 rgba(102, 102, 102, 0.3);
  border-radius: 4px;
  width: 100%;
  height: 112px; }

.yuk {
  font-family: Open Sans Semibold;
  font-size: 15px;
  color: #555555;
  line-height: 115px;
  margin-left: 30px;
  float: left; }

.btn-card {
  background: #F9A21A;
  border-radius: 4px;
  width: 238px;
  height: 52px;
  position: absolute;
  top: 30px;
  right: 50px; }

.proyek {
  font-family: Open Sans Semibold;
  font-size: 16px;
  color: #3C3C3C;
  letter-spacing: 0;
  margin-top: 102px; }

.back {
  position: absolute;
  top: 65px; }

.next {
  position: absolute;
  top: 65px;
  margin-left: 225px; }

.gambar1 {
  width: 75px;
  height: 75px;
  margin-top: 40px;
  margin-left: 70px;
  margin-bottom: 70px; }

.gambar2 {
  width: 75px;
  height: 75px;
  margin-top: 40px;
  margin-left: 10px;
  margin-bottom: 70px;
  opacity: 0.5; }

.lanjut {
  font-family: Open Sans Semibold;
  font-size: 16px;
  color: #45BF7C;
  letter-spacing: 0;
  float: right; }

.cardstyle {
  background: #FFFFFF;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.15);
  border-radius: 4px; }

.image1 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 11%, rgba(0, 0, 0, 0) 72%);
  border-radius: 4px 4px 0 0; }

.judul {
  font-family: Open Sans Semibold;
  font-size: 16px;
  color: #333333;
  line-height: 28px; }

.lokasi {
  font-family: Open Sans;
  font-size: 13px;
  color: #72777E;
  line-height: 18px; }

.gariscard {
  background: #E7E7E7;
  border-radius: 10px;
  width: 213px;
  height: 6px; }

.font {
  font-family: Open Sans;
  font-size: 14px;
  color: #72777E;
  line-height: 24px; }

.font2 {
  font-family: Open Sans Semibold;
  font-size: 14px;
  color: #72777E;
  line-height: 30px; }

.font3 {
  font-family: Open Sans Semibold;
  font-size: 14px;
  color: #72777E;
  line-height: 24px; }

.cardtext {
  font-family: Open Sans;
  font-size: 13px;
  color: #C5C5C5;
  float: left; }

.cardtext2 {
  font-family: Open Sans Semibold;
  font-size: 15px;
  color: #45BF7C;
  float: left; }

.durasi {
  font-family: Open Sans Semibold;
  font-size: 15px;
  color: #72777E; }

.btninfaq {
  background: #C5C5C5;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  font-family: Open Sans Semibold;
  position: absolute;
  top: 15px;
  left: 115px;
  width: 122px;
  height: 36px;
  font-size: 14px;
  letter-spacing: 0;
  text-align: center; }

.btnwakaf {
  background: #80B340;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  font-family: Open Sans Semibold;
  position: absolute;
  top: 15px;
  left: 115px;
  width: 122px;
  height: 36px;
  font-size: 14px;
  letter-spacing: 0;
  text-align: center; }

.btnzakat {
  background: #45BF7C;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  font-family: Open Sans Semibold;
  position: absolute;
  top: 15px;
  left: 115px;
  width: 122px;
  height: 36px;
  font-size: 14px;
  letter-spacing: 0;
  text-align: center; }

.btntext {
  color: #FFFFFF; }

.share {
  font-family: Open Sans Semibold;
  font-size: 14px;
  color: #72777E;
  line-height: 100px;
  position: absolute;
  left: 15px;
  top: 300px; }

.iconfb {
  position: absolute;
  left: 195px;
  top: 330px; }

.icontw {
  position: absolute;
  left: 230px;
  top: 330px; }

.iconwa {
  position: absolute;
  left: 266px;
  top: 330px; }

.icong {
  position: absolute;
  left: 302px;
  top: 330px; }

.iconmail {
  position: absolute;
  left: 338px;
  top: 330px; }

.iconlink {
  position: absolute;
  left: 374px;
  top: 330px; }

.btnzakat2 {
  background: #45BF7C;
  border-radius: 4px;
  font-family: Open Sans Semibold;
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 0;
  text-align: center;
  width: 396px;
  height: 40px;
  position: absolute;
  top: 380px;
  left: 15px; }

.cardmajelis {
  background: #FFFFFF;
  border: 1px solid #979797;
  border-radius: 4px;
  position: absolute;
  top: 495px;
  width: 93%;
  height: 371px; }

.imguser {
  width: 50px;
  height: 50px;
  magin-right: 20px;
  margin-top: 10px; }

.nm_user {
  font-family: Helvetica;
  font-size: 18px;
  color: #555555;
  line-height: 40px;
  margin-left: 20px; }

.userproyek {
  font-family: Open Sans;
  font-size: 20px;
  line-height: 18px;
  margin-left: 160px; }

.userproyek2 {
  font-family: Open Sans;
  font-size: 20px;
  line-height: 18px;
  margin-left: 178px; }

.pyk {
  font-family: Open Sans;
  font-size: 12px;
  color: #C5C5C5;
  line-height: 15px;
  float: right; }

.tabcontent .ket {
  font-family: Open Sans;
  font-size: 14px;
  color: #72777E;
  line-height: 18px; }

.penggalang {
  font-family: Open Sans;
  font-size: 14px;
  color: #72777E;
  line-height: 300px; }

.card-header {
  height: 100px;
  background: #FFFFFF; }

.text-card-header {
  font-family: Helvetica;
  font-size: 18px;
  color: #555555;
  line-height: 40px; }

.cardbaru {
  background: #FFFFFF;
  border: 1px solid #979797;
  border-radius: 4px;
  position: absolute;
  top: 930px;
  width: 93%;
  height: 371px; }

.donatur {
  font-family: Helvetica;
  font-size: 14px;
  color: #72777E;
  position: absolute;
  top: 885px;
  left: 20px; }

footer {
  background: #F9F9F9;
  margin-top: 150px; }

.logo {
  width: 176px;
  margin-top: 28px; }

.temukan {
  font-family: Open Sans;
  font-size: 14px;
  color: #72777E;
  margin-top: 28px;
  line-height: 32px; }

.find_text {
  margin-top: 9px;
  margin-right: 30px; }

.imgsosmed {
  margin-right: 25px; }

.textf {
  font-family: Open Sans Semibold;
  font-size: 14px;
  color: #72777E;
  line-height: 24px; }

.copyright {
  font-family: Open Sans;
  font-size: 12px;
  color: #72777E; }

.learn {
  font-family: Open Sans Semibold;
  font-size: 18px;
  color: #555555; }

.head_footer {
  font-family: Open Sans;
  font-size: 14px;
  color: #72777E;
  line-height: 32px; }

.btnzakat3 {
  background: #45BF7C;
  border-radius: 4px;
  width: 350px;
  height: 46px;
  margin-top: 70px; }

.btnzakat4 {
  background: #45BF7C;
  border-radius: 4px;
  width: 350px;
  height: 46px;
  margin-top: 100px; }

.iconfb2 {
  position: absolute;
  left: 264px;
  top: 12px; }

.iconwa2 {
  position: absolute;
  left: 300px;
  top: 12px; }

.imgdonatur {
  width: 45px;
  height: 45px;
  background: #E8E8E8;
  border: 1px solid #C4C4C4; }

.donasi {
  font-family: Helvetica;
  font-size: 16px;
  color: #555555;
  line-height: 40px; }

.nmdonasi {
  font-family: Open Sans Semibold;
  font-size: 14px;
  color: #72777E;
  line-height: 18px; }

.time_donasi {
  opacity: 0.5;
  font-family: Open Sans;
  font-size: 12px;
  color: #72777E;
  line-height: 18px; }

#tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs {
  margin-top: 27px; }

#tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: #555555;
  background-color: transparent;
  border-color: transparent transparent;
  border-bottom: 4px solid !important;
  font-size: 16px;
  font-weight: bold;
  font-family: Open Sans Semibold; }

#tabs .nav-tabs .nav-link {
  border: 1px solid transparent;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
  font-size: 16px; }

/*# sourceMappingURL=style.css.map */
