.qurban {
	font-family: Open Sans Semibold;
	font-size: 16px;
	color: #72777E;
	letter-spacing: 0;
	text-align: right;
	position: absolute;
	top: 30px;
	left: 580px;
}

.donasi {
	font-family: Open Sans Semibold;
	font-size: 16px;
	color: #72777E;
	letter-spacing: 0;
	position: absolute;
	top: 23px;
	left: 680px;
}

.exploretran {
	font-family: Open Sans Semibold;
	font-size: 16px;
	color: #72777E;
	letter-spacing: 0;
	position: absolute;
	top: 32px;
	left: 870px;
	border: none;
}

